@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fasthand&family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fasthand&family=Sriracha&display=swap');

:root {
    --font-0: 'Arial, Helvetica, sans-serif';
    --font-1: 'Passion One', cursive;
    --font-2: 'Sriracha', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    background-color: gray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps; /*todas letras em maiúscula porém as primeiras são maiores.*/
    font-family: var(--font-1);
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
} 

a:hover {
    text-decoration: underline;
    font-size: 1.5em;
}

section {
    padding-top: 10vh; /*10%da minha altura*/
    padding-bottom: 10vh;
    line-height: 2em; /*espaçamento entre as linhas*/
    padding-left: 30px;
    font-family: var(--font-2);
    font-size: 3.5vw;
}

section.normal {
    background-color: white;
    color: black;
}

section.image {
    background-color: rgba(0, 0, 0, 0.454);
    color: white;
}

section.image > p {
    background-color: rgba(0, 0, 0, 0.342);
    display: inline-block;  /* a caixa se adapta ao conteúdo */
    padding: 5px;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}